* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

:root {
    --font-family: "Space Mono", serif;
    --font-size-1: 4.0rem;
    --font-size-2: 3.0rem;
    --font-size-3: 1.7rem;
    --font-size-4: 1.4rem;
    --font-size-5: 1.2rem;
    --font-size-6: 1.0rem;
    --font-size-7: 0.8rem;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-blues: #0063ff;
    --color-purps: #3b00ee;
    --color-rally: #c90a01;
    --color-softy: #939393;
    --color-clear: #efefef;
    --color-sunny: #ffe983;
}

p, h1, h2, h3, h4, h5, h6, ul, ol, span, button, a, blockquote, form, input, select, textarea {
    color: var(--color-black);
    font-family: var(--font-family);
}

a, button {
    color: var(--color-black);
    transition: all .5s linear;
    &:hover {
        transition: all .3s linear;
    }
}

button, input {
    border: 1px solid var(--color-black);
    border-radius: 6px;
    cursor: pointer;
}

.gh-navbar {
    width: 90%;
    max-width: 700px;
    background: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 6px;
    box-shadow: 0 5px 5px #0000001f;
    left: 0;
    padding: 15px;
    position: fixed;
    right: 0;
    top: 20px;
    transition: all .5s linear;
    z-index: 1;
    ul {
        align-items: center;
        display: flex;
        justify-content: center;
        list-style: none;
        li {
            a {
                border-bottom: 1px solid var(--color-black);
                text-decoration: none;
                &:hover {
                    border-bottom: 1px solid var(--color-white);
                    color: var(--color-softy);
                }
                &.github, &.threads {
                    border-bottom: 0;
                    display: flex;
                }
                &.project, &.repositories, &.contact {
                    img {
                        display: none;
                    }
                }
            }
        }
    }
    &:hover {
        box-shadow: none;
        transition: all .5s linear;
    }
}

footer {
    border-top: 1px solid var(--color-black);
    display: flex;
    padding: 20px;
    justify-content: space-between;
    ul {
        align-items: center;
        display: flex;
        list-style: none;
        &.left {
            justify-content: left;
        }
        &.right {
            justify-content: right;
            li {
                margin-right: 0;
            }
        }
        li {
            padding: 0;
            margin: 0 60px 0 0;
            a {
                display: flex;
                text-decoration: none;
                img {
                    margin-right: 10px;
                }
                &.license, &.repositories, &.contact {
                    img {
                        display: none;
                    }
                }
                &:hover {
                    color: var(--color-softy);
                }
            }
        }
    }
}
main {
    margin-top: 100px;
}

@media only screen and (max-width: 1110px) {
    footer {
        flex-wrap: wrap;
        ul {
            &.left, &.right {
                width: 100%;
                justify-content: center;
            }
            &.right {
                margin-top: 20px;
                li {
                    font-size: .8rem;
                    margin-right: inherit;
                }
            }
            li {
                margin: 0 auto;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .gh-navbar {
        ul {
            li {
                a {
                    &.project, &.repositories, &.contact {
                        border-bottom: 0;
                        display: flex;
                        font-size: 0;
                        transition: none;
                        img {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    footer {
        ul {
            li {
                a {
                    &.license, &.repositories, &.contact {
                        font-size: 0;
                        transition: none;
                        img {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}