* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

:root {
    --font-family: "Space Mono", serif;
    --font-size-1: 3.0rem;
    --font-size-2: 2.2rem;
    --font-size-3: 1.8rem;
    --font-size-4: 1.4rem;
    --font-size-5: 1.2rem;
    --font-size-6: 1.0rem;
    --color-white: #ffffff;
    --color-softy: #f3f3f3;
    --color-black: #000000;
    --color-purps: #3b00ee;
    --color-blues: #0063ff;
    --color-sunny: #ffe983;
}

p, h1, h2, h3, h4, h5, h6, ul, ol, span, button, a, blockquote {
    color: var(--color-black);
    font-family: var(--font-family);
}

a {
    color: var(--col-black);
    transition: all .5s linear;
    &:hover {
        transition: all .5s linear;
    }
}

// Global Modules
.gh-navbar {
    width: 90%;
    max-width: 700px;
    border: 1px solid #000000;
    border-radius: 6px;
    box-shadow: 0 5px 5px #0000001f;
    left: 0;
    padding: 15px;
    position: fixed;
    right: 0;
    top: 20px;
    z-index: 1;
    ul {
        align-items: center;
        display: flex;
        justify-content: center;
        list-style: none;
        li {
            a {
                .github {}
                .threads {}
            }
        }
    }
}
footer {
    border-top: 1px solid #000;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    ul {
        align-items: center;
        display: flex;
        list-style: none;
        &.left {
            justify-content: left;
        }
        &.right {
            justify-content: right;
        }
        li {
            padding: 0;
            margin: 0 60px 0 0;
            a {
                text-decoration: none;
            }
        }
    }
    p {

    }
}
ul {
    li {
        a {
            .github {}
            .threads {}
        }
    }
}
main {
    margin-top: 100px;
}