// Pizza Maker
.pizza-maker {
    margin-left: auto;
    margin-right: auto;
    header {
        width: 90%;
        max-width: 980px;
        margin: 0 auto 60px;
        text-align: center;
        h1 {
            font-size: var(--font-size-1);
            line-height: 1;
        }
        h2 {
            font-family: "Bungee Tint", serif;
            font-weight: 400;
            font-size: var(--font-size-3);
            font-style: normal;
            margin-top: 15px;
        }
        p {
            margin-top: 15px;
        }
    }
    section {
        max-width: 980px;
        margin: 0 auto;
        text-align: center;
        &.pm-wrapper {
                margin-bottom: 60px;
            #pizza-form {
            }
        }
        &#pm-output {
            max-width: 600px;
            background: #ffffff;
            border: 1px dotted #c1c1c1;
            border-radius: 6px;
            display: none;
            margin-top: 40px;
            margin-bottom: 50px;
            padding: 20px;
            h3 {
                text-transform: uppercase;
            }
            h4 {
                font-weight: 400;
            }
            button {
                width: 28px;
                height: 28px;
                border: 0;
                border-radius: 100%;
                cursor: pointer;
                margin: 10px 5px;
                &[type="reset"] {
                    background: url("../images/unavailable-stroke.svg") no-repeat center;
                    &:hover {
                        background: var(--color-softy) url("../images/unavailable-stroke.svg") no-repeat center;
                    }
                }
                &[type="button"] {
                    background: url("../images/checkmark-stroke.svg") no-repeat center;
                    &:hover {
                        background: var(--color-softy) url("../images/checkmark-stroke.svg") no-repeat center;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .pizza-maker {
        header {
            h1 {
                font-size: var(--font-size-2);
            }
            h2 {
                font-size: var(--font-size-4);
                margin-top: 5px;
            }
            p {
                margin-top: 15px;
            }
        }
    }
}
@media only screen and (max-width: 360px) {
    .pizza-maker {
        header {
            h1 {
                font-size: 2.5rem;
            }
        }
    }
}