.pizza-maker {
    margin-left: auto;
    margin-right: auto;
    header {
        width: 90%;
        max-width: 980px;
        margin: 0 auto 50px;
        text-align: center;
        h1 {
            font-size: var(--font-size-1);
            line-height: 1;
        }
        h2 {
            font-family: "Bungee Tint", serif;
            font-weight: 400;
            font-size: var(--font-size-3);
            font-style: normal;
            margin-top: 15px;
        }
        p {
            margin-top: 15px;
        }
    }
    section {
        max-width: 980px;
        margin: 0 auto;
        text-align: center;
        &.pm-intro {
            width: 90%;
            margin-bottom: 60px;
            #pizza-form {
                input {
                    padding: 6px 10px;
                    &::placeholder {
                        font-style: italic;
                    }
                }
                button {
                    background-color: var(--color-black);
                    color: var(--color-white);
                    font-weight: 700;
                    letter-spacing: 1px;
                    padding: 6px 10px;
                    text-transform: uppercase;
                    &:hover {
                        background: var(--color-rally);
                    }
                }
            }
        }
        &#pm-validate {
            width: 90%;
            max-width: 600px;
            background: #000000;
            border-radius: 6px;
            display: none;
            margin-bottom: 50px;
            padding: 20px;
            #table-wrapper {
                border: 1px solid #939393;
                h3 {
                    color: var(--color-white);
                    padding-top: 10px;
                    text-transform: uppercase;
                }
                h4 {
                    color: var(--color-softy);
                    font-weight: 400;
                    padding-bottom: 10px;
                }
                p {
                    border-top: 1px solid #939393;
                    color: var(--color-white);
                    padding-top: 10px;
                }
                button {
                    width: 100px;
                    height: 30px;
                    border: 1px solid var(--color-black);
                    margin: 10px 5px 15px;
                    text-transform: uppercase;
                    &:hover {
                        background: var(--color-rally);
                        color: var(--color-white);
                    }
                }
            }
        }
        &#pm-menu {
            max-width: 1200px;
            display: none;
            h2 {
                font-weight: 400;
            }
            button {
                background-color: var(--color-black);
                color: var(--color-white);
                font-weight: 700;
                letter-spacing: 1px;
                margin-top: 4px;
                padding: 6px 10px;
                text-transform: uppercase;
                &:hover {
                    background: var(--color-rally);
                }
            }
            .pm-menu-wrapper {
                align-items: flex-start;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 30px;
                padding: 0 20px;
                .ticket-preview {
                    width: 28%;
                    background: var(--color-black);
                    border-radius: 6px;
                    margin-bottom: 50px;
                    padding: 20px;
                    .ticket-preview-wrapper {
                        border: 1px solid var(--color-softy);
                        h2 {
                            border-top: 1px solid var(--color-softy);
                            color: var(--color-white);
                            padding-top: 6px;
                        }
                        h3 {
                            color: var(--color-softy);
                            font-size: var(--font-size-6);
                            font-weight: 400;
                            margin: 5px 0 10px;
                        }
                        h4 {
                            color: var(--color-white);
                            font-size: var(--font-size-7);
                            font-weight: 400;
                            margin: 10px 0;
                            text-transform: uppercase;
                        }
                        p {
                            color: var(--color-softy);
                            &:first-of-type {
                                border-top: 1px solid var(--color-softy);
                                padding-top: 10px;
                                text-transform: uppercase;
                            }
                            &:last-of-type {
                                padding-bottom: 12px;
                            }
                        }
                    }
                }
                .pizza-options {
                    width: 70%;
                    align-items: center;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .pizza {
                        width: 48%;
                        list-style: none;
                        margin-bottom: 20px;
                        align-items: center;
                        background: var(--color-white);
                        border: 1px solid var(--color-black);
                        border-radius: 6px;
                        box-shadow: none;
                        display: flex;
                        justify-content: space-between;
                        padding: 3% 2% 4%;
                        transition: all .5s linear;
                        .pizza-image {
                            width: 40%;
                            img {
                                width: 90%;
                                max-width: 100px;
                            }
                        }
                        .pizza-details {
                            width: 60%;
                            text-align: left;
                            h3 {
                                font-weight: 400;
                                margin-bottom: 4px;
                            }
                            p {
                                font-size: var(--font-size-7);
                                margin-bottom: 4px;
                                span {
                                    font-size: var(--font-size-6);
                                }
                            }
                            button {
                                background-color: var(--color-white);
                                color: var(--color-black);
                                &:hover {
                                    background: var(--color-rally);
                                    color: var(--color-white);
                                }
                            }
                        }
                        &:hover {
                            background: var(--color-clear);
                            border-color: #0000001f;
                            box-shadow: 0 5px 5px #0000001f;
                            transition: all .5s linear;
                        }
                    }
                }
                .pizza-toppings {
                    width: 70%;
                    align-items: center;
                    display: none;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .topping {
                        width: 30%;
                        list-style: none;
                        margin-bottom: 20px;
                        align-items: center;
                        background: var(--color-white);
                        border: 1px solid var(--color-black);
                        border-radius: 6px;
                        box-shadow: none;
                        cursor: pointer;
                        display: flex;
                        justify-content: space-between;
                        padding: 3% 1.5% 4%;
                        transition: all .5s linear;
                        img {}
                        h3 {}
                        p {}
                    }
                }
            }
            .btn-wrapper {
                display: none;
                margin-bottom: 40px;
            }
        }
    }
}

@media only screen and (max-width: 1140px) {
    .pizza-maker {
        section {
            &#pm-menu {
                h2 {
                    margin-bottom: 20px;
                }
                button {
                    &:hover {}
                }
                .pm-menu-wrapper {
                    #ticket {
                        width: 98%;
                        padding: 2%;
                        margin-bottom: 0;
                        .ticket-preview-wrapper {}
                    }
                    .ticket-preview {
                        width: 98%;
                        max-width: 470px;
                        .ticket-preview-wrapper {
                            h2 {
                                margin-bottom: 0;
                            }
                        }
                    }
                    .pizza-options {
                        width: 100%;
                        .pizza {
                            .pizza-image {
                                img {
                                }
                            }
                            .pizza-details {
                                h3 {}
                                p {
                                    span {}
                                }
                                button {
                                    &:hover {}
                                }
                            }
                            &:hover {}
                        }
                    }
                }
                .btn-wrapper {}
            }
        }
    }
}
@media only screen and (max-width: 769px) {
    .pizza-maker {
        header {
            margin: 0 auto 40px;
        }
        section {
            &.pm-intro {
                #pizza-form {
                    max-width: 480px;
                    label {
                        width: 100%;
                        text-align: center;
                    }
                    input {
                        width: 100%;
                        margin-bottom: 20px;
                        &::placeholder {
                            text-align: center;
                        }
                    }
                    button {
                        width: 100%;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 640px) {
    .pizza-maker {
        section {
            &#pm-menu {
                h2 {
                    margin-bottom: 20px;
                }
                button {
                    &:hover {}
                }
                .pm-menu-wrapper {
                    #ticket {
                        .ticket-preview-wrapper {}
                    }
                    .pizza-options {
                        .pizza {
                        width: 100%;
                            .pizza-image {
                                img {
                                }
                            }
                            .pizza-details {
                                h3 {}
                                p {
                                    span {}
                                }
                                button {
                                    &:hover {}
                                }
                            }
                            &:hover {}
                        }
                    }
                }
                .btn-wrapper {}
            }
        }
    }
}
@media only screen and (max-width: 480px) {
    .pizza-maker {
        header {
            h1 {
                font-size: var(--font-size-2);
            }
            h2 {
                font-size: var(--font-size-4);
                margin-top: 5px;
            }
            p {
                margin-top: 15px;
            }
        }
    }
}
@media only screen and (max-width: 400px) {
    .pizza-maker {
        section {
            &#pm-menu {
                h2 {}
                button {
                    &:hover {}
                }
                .pm-menu-wrapper {
                    #ticket {
                        .ticket-preview-wrapper {}
                    }
                    .pizza-options {
                        .pizza {
                            .pizza-image {
                                img {
                                    width: 80px;
                                }
                            }
                            .pizza-details {
                                h3 {}
                                p {
                                    span {}
                                }
                                button {
                                    &:hover {}
                                }
                            }
                            &:hover {}
                        }
                    }
                }
                .btn-wrapper {}
            }
        }
    }
}
@media only screen and (max-width: 360px) {
    .pizza-maker {
        header {
            h1 {
                font-size: 2.5rem;
            }
        }
    }
}